---
---

@import "{{ site.theme }}";


p{
    color: black;
}




.aaa{
    margin-right: 15px;
}




.fused_td{
    text-align: justify;
}

.paper_d{
    text-align: justify;
}


table{
    width: 550;
}



.td_div{
    text-align: justify;
    max-width: 650px;


}

